@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}



html{
    font-family: "Montserrat", sans-serif;
}

/* ------------------------ HOME ----------------------- */

header{
    background-color: #13563E;
    color: white;
    text-align: center;
    width: 100%;
}

.descricao{
    background-color: #F5F5F5;
    color: black;
}

.titulo{
    text-align: center;
    color: #13563E;
}

.texto-intro{
    text-align: center;
}


@media screen and (min-width: 900px) {
    main{
        display: flex;
        justify-content: center;
        margin-left: 4%;
        margin-top: 3%;
    }

    .cultura > img{
        width: 450px;
    }

    .cultura{
        justify-content: end;
        margin-right: 10%;
    }

    .texto-main{
        width: 40%;
        margin-top: 10%;
        font-size: medium;
        text-align: center;
        place-items: center;
    }
}

@media screen and (max-width: 900px) {
    main{
        display: flex;
        justify-content: center;
        margin-left: 4%;
        margin-top: 3%;
    }

    .cultura > img{
        width: 300px;
    }

   
    .texto-main{
        width: 30%;
        margin-top: 10%;
        font-size: small;
        text-align: center;
    }
   
}

@media screen and (max-width: 680px) {
    main{
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

    .cultura > img{
        width: 150px;
    }

    .cultura{
        margin-top: 10%;
        padding-left: 8%;
    }
   
    .texto-main{
        margin-top: 10%;
        text-align: center;
        font-size: x-small;
        padding-right: 8%;
    }
   
}


.botao-jogar{
    font-family: "Montserrat", sans-serif;
    border: 0;
    border-radius: 15px;
    background-color: #13563E;
    color: #FFFFFF;
    width: 300px;
    height: 80px;
    font-size: X-large;
}

.jogar{
    display: flex;
    justify-content: center;

    padding-top: 40px;
}



