@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

html{
    font-family: "Montserrat", sans-serif;
}

header{
    background-color: #13563E;
    color: white;
    text-align: center;
    width: 100%;
}

.descricao{
    background-color: #F5F5F5;
    color: black;
}

#titulo{
    text-align: center;
    color: #13563E;
}

#texto-intro{
    text-align: center;
}


.texto-main{
    width: 40%;
    margin-left: 5%;
    font-size:small;
    text-align: center;
}

.cultura > img{
    width: 30vw;
}

.cultura{
    display: flex;
    justify-content: end;
    margin-bottom: 25%;
}

.card-1{
    background-color: #E3FFED;
}

.card-2 {
    background-color: #11C76F;
}

.card-3 {
    background-color: #FFFFFF;
}

