@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}


html{
    font-family: "Montserrat", sans-serif;
}


header{
    background-color: #13563E;
    color: white;
    text-align: center;
    width: 100%;
}

/* ------------------------ HOME ----------------------- */

.descricao{
    padding: 20px;
    background-color: #F5F5F5;
    color: #13563E;
    p{
        color: black;
    }
    text-align: center;
}

.titulo{
    text-align: center;
    color: #13563E;
}

.texto-intro{
    text-align: center;
}


@media screen and (min-width: 900px) {
    main{
        display: flex;
        justify-content: center;
        margin-left: 4%;
        margin-top: 3%;
    }

    .cultura > img{
        width: 450px;
    }

    .cultura{
        justify-content: end;
        margin-right: 10%;
    }

    .texto-main{
        width: 40%;
        margin-top: 10%;
        font-size: medium;
        text-align: center;
        place-items: center;
    }
}

@media screen and (max-width: 900px) {
    main{
        display: flex;
        justify-content: center;
        margin-left: 4%;
        margin-top: 3%;
    }

    .cultura > img{
        width: 300px;
    }

   
    .texto-main{
        width: 30%;
        margin-top: 10%;
        font-size: small;
        text-align: center;
    }
   
}

@media screen and (max-width: 680px) {
    main{
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

    .cultura > img{
        width: 150px;
    }

    .cultura{
        margin-top: 10%;
        padding-left: 8%;
    }
   
    .texto-main{
        margin-top: 10%;
        text-align: center;
        font-size: x-small;
        padding-right: 8%;
    }
   
}

.botoes-inicio{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
}


.jogar{
    padding-top: 40px;
    padding-left: 10px;
}

.botao-jogar{
    display: flex;
    border-radius: 15px;
    background-color: #13563E;
    color: #FFFFFF;
    width: 300px;
    height: 80px;
    font-size: X-large;
    align-items: center;
    justify-content: center;
}

.botao-jogar:hover{
    background-color: #0e3f2e;
}
/*-------------- LOGIN --------------*/
.back-login{
    width: 50%;
    height: 400px;
    background-color: #F5F5F5;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
}
form{
    margin: 15%;
    width: 80%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.mb-3{
    width: 100%;
}



/* -------------- REGRAS ------------ */

.descricao-regras{
    background-color: #F5F5F5;
    text-align: center;
    color: #13563E;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
}

.main-regras {
    background-color: #F5F5F5;
    width: 50%;
    font-size: larger;
    padding: 5% 10%;
    
}

.proximo-regras{
    margin-top: 5%;
}

.botao-proximo{
    display: flex;
    text-decoration: none;
    border-radius: 15px;
    background-color: #13563E;
    color: #FFFFFF;
    width: 170px;
    height: 70px;
    font-size: larger;
    align-items: center;
    justify-content: center;
}
/* ----------- CARTAS ------------- */

.pai-cartas{
    margin: 4% 3% 0%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-1{
    background-color: #E3FFED;
    border: #E3FFED 2px solid; 
    border-radius: 20px;
    padding: 10px;
    width: 210px;
    height: 280px;
}
.card-2{
    background-color: #11C76F; 
    border-radius: 15px;
    padding: 10px;
    width: 190px;


}
.card-3{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 190px; 
    height: 260px;
    box-sizing: border-box;

    h3{
        color: #13563E;
        padding-bottom: 10px;
    }
}

.timer{
    display: flex;
    justify-content: end;
    margin-right: 4%;
    color:#13563E
    
}
.dialog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 70%;
    height: 70%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-left: 15%;
    margin-top: 5%;
    border-radius: 20px;
  }

/* ------------------ FINAL --------------- */
